
.empty-list {
  display: block;
  margin: 25vh auto;
  text-align: center;
  background: #f7f7f7;
  color: #999;
  line-height: 72px;
  border-radius: 36px;
  padding: 0 24px;
  font-family: sans-serif;
  font-size: 0.8em;
  width: 50%;
}

.add-button {
  color: royalblue;

  mat-icon {
    margin-right: 8px;
  }
}
